*.swp
.DS_Store
transcript
tcl_stacktrace.txt
c5_pin_model_dump.txt
*.mti
*.qdb
*.qpg
*.qtl
*.qarlog
*.bak
*.rpt
*.done
*.cdf
*.smsg
*.summary
*.pin
c5_pin_model_dump.txt
db/
incremental_db/
eclipse/
.vscode/
obj/
.o